<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hack AES</title>
    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Main</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a target="_blank" href="/xor">Tools</a>
                </li>
                <li>
                    <a href="/explanation">Solution</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>How does this work?</h1>
        </div>
        <p>
            This little app uses AES-CTR (<a
                    href="http://csrc.nist.gov/groups/ST/toolkit/BCM/documents/proposedmodes/ctr/ctr-spec.pdf">Counter
                mode</a>). This mode, <em>if used properly</em> is considered secure. However, if you have solved the
            little challenge in this app, you saw that we were very easily able to find a secret message encrypted using
            AES.
        </p>
        <h2>What went wrong?</h2>
        <p>
            In the AES-CTR recommendations, it is required that the pair < Key, Nonce > should be unique for every
            signle
            message.
        </p>
        <p>
            If you examine <a href="https://github.com/RaedsLab/AES-CPA/blob/master/routes/index.js#L52"
                              target="_blank">the code</a>, we can see that the nonce is fixed for every message.
        </p>
        <script src="https://gist-it.appspot.com/github/RaedsLab/AES-CPA/blob/master/routes/index.js/?slice=73:88&footer=no"></script>
        <p>
            Now knowing that the nonce and the key are the same for every operation, we get this:<br>
            <b>C=P⊕E(Key,Nonce)</b><br>
            where C is the ciphertext, P is the plaintext, and E is the AES function.
            <br>
            Now if we input two different plaintext values:<br>
            <b>C1=P1⊕E(Key,IV)</b><br><br>
            <b>C2=P2⊕E(Key,IV)</b>
            <br>
            We can easily deduce that:<br>
            <b>C1⊕C2=P1⊕P2</b><br>
        <h2>Voila!</h2>
        <hr>
        </p>

    </div>
</div>
<div class="footer navbar-fixed-bottom">
    <div class="container">
        <p class="text-muted"><span id="footerContent">Made with <span class="heart">♥</span></span> by <a
                    href="https://raed.it">Raed</a>.</p>

        <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License"
                                                                                    style="border-width:0"
                                                                                    src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png"/></a><br/>This
        work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative
            Commons
            Attribution-NonCommercial 4.0 International License</a>.
    </div>
</div>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>
